<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 error</title>

    <!-- Latest compiled and minified CSS -->
    <link href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">


    <!-- Latest compiled and minified JavaScript -->
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            404 Not Found.....
            <span th:text="${exception.message}"/>
        </div>
    </div>
</body>
</html>