<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">


    <!-- Latest compiled and minified JavaScript -->
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">My Recipes</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipies)}">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Description</th>
                                        <th>PrepTime</th>
                                        <th>CookTime</th>
                                        <th>Servings</th>
                                        <th>Source</th>
                                        <th>Url</th>
                                        <th>Direction</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                        <th>Image Upload</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="recipe: ${recipies}">
                                        <td th:text="${recipe.description}">Description</td>
                                        <td th:text="${recipe.prepTime}">Preparation Time</td>
                                        <td th:text="${recipe.cookTime}">Cook Time</td>
                                        <td th:text="${recipe.servings}">Servings</td>
                                        <td th:text="${recipe.source}">Source</td>
                                        <td th:text="${recipe.url}">Url</td>
                                        <td th:text="${recipe.direction}">Direction</td>
                                        <td><a th:href="@{'/recipe/' + ${recipe.id} + '/show/' }">View</a></td>
                                        <td><a th:href="@{'/recipe/' + ${recipe.id} + '/update/' }">Update</a></td>
                                        <td><a th:href="@{'/recipe/' + ${recipe.id} + '/delete/' }">Delete</a></td>
                                        <td><a th:href="@{'/recipe/' + ${recipe.id} + '/image/' }">Image</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>